/**Top section**/
.position-bg{
    background-image: linear-gradient(cyan,blue);
    height: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 80px;
    
}
.bg-link{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    border: 1px solid gray;
}
.bg-link:hover{
    background-color:rgb(241, 241, 241);
}
.logo{
    margin-top: -10px;
}
.position-bg:hover{
    background-image: linear-gradient(rgb(255, 196, 119),cyan,blue);
    color: rgb(105, 0, 0);
}
.position-bg h1{
    color: white;
    font-size: 50px;
}
.slide-img img{
    width: 100%;
    height:100%;
}
.position-bg img{
    width: 100%;
    height: 100%;
    margin-left:0px ;
}
.follow-btn{
    background-image: linear-gradient(orange,tomato);
    padding:10px ; 
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    margin-left: 100px;
    margin-bottom:10px;
    margin-top: 10px;
    text-decoration: none;
}
.follow-btn:hover{
    background-image: none;
    border: 2px solid red;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0 0 5px black;
    border-radius: 30px;

}
/**animation of the slider**/
.animation{
    animation-name: rainbowtext;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes rainbowtext{
    0%{
        color: red;
        font-size: 70px;
    }
    25%{
        color:purple;
    }
    50%{
        color: yellow;
        font-size: 70px;
    }
    75%{
        color:greenyellow;
        font-size: 70px;
    }
    100%{
        color: orange;
        font-size: 70px;
    }
}
.animation-2{
    animation-name: rainbowtext2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes rainbowtext2{
    0%{
        color: red;
        font-size: 50px;
    }
    25%{
        color:purple;
    }
    50%{
        color: orange;
        font-size: 50px;
    }
    75%{
        color:greenyellow;
        font-size: 50px;
    }
    100%{
        color: yellow;
        font-size: 50px;
    }
}
.animation-3{
    animation-name: rainbowtext3;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes rainbowtext3{
    0%{
        color: rgb(0, 255, 0);
        font-size: 50px;
    }
    25%{
        color:rgb(255, 9, 255);
    }
    50%{
        color: orange;
        font-size: 50px;
    }
    75%{
        color:greenyellow;
        font-size: 50px;
    }
    100%{
        color: rgb(251, 255, 0);
        font-size: 50px;
    }
}

.follow-btn{ 
    animation-name: rainbowtext4;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite; 
}
@keyframes rainbowtext4{
    0%{
        color: rgb(0, 255, 0);
        font-size: 20px;
    }
    25%{
        color:rgb(255, 9, 255);
    }
    50%{
        color: orange;
        font-size: 20px;
    }
    75%{
        color:greenyellow;
        font-size: 22px;
    }
    100%{
        color: rgb(251, 255, 0);
        font-size: 20px;
    }
}
/**load animation**/
.load{
    margin-top: 600px;
    margin:auto;
    border: 16px solid ;
    width: 200px;
    height: 200px;
    border-top-color: red;
    border-bottom-color: green; 
    border-radius: 100px;
    animation:spin 2s linear infinite;
 }
 @keyframes spin{
     0%{
         transform:rotate(0deg) ;
     }
     100%{
         transform:rotate(360deg) ;
     }
 }
 /**Skill section**/

#skill{
    background: url(../img/skill-bg.jpg);
    background-attachment: fixed;
    min-height: 500px;
    background-size: cover;
}

 .header h1{
     padding-top: 80px;
     margin-top: 40px;
     color: rgb(0, 0, 0);
     text-shadow: 0 0 10px dimgray;
 }
 .cd-body{
     margin-top: 80px;
     padding-bottom: 100px;
 }
 .card{
     border: none;
     box-shadow: 0 0 10px gray;
     border-radius: 10px;
     height: 150px;
     font-weight: 900;
     color: dimgray;
 }
 .card:hover{
     border: 2px solid tomato;
     color: rgb(255, 115, 0);
     background-color: rgba(255, 255, 255, 0);
     border-radius: 10px;
 }
.cd-animation{   
    animation-name: rainbowtext10;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite; 
}
@keyframes rainbowtext10{
    0%{
        color: rgb(255, 0, 0);
        font-size: 20px;
    }
    25%{
        color: rgb(251, 255, 0);
    }
    50%{
        color:rgb(21, 255, 0);
        font-size: 20px;
    }
    75%{
        color: tomato;
        font-size: 20px;
    }
    100%{
        color: rgb(251, 255, 0);
        font-size: 20px;
    }
} 
.cd-animation2{   
    animation-name: rainbowtext11;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite; 
}
@keyframes rainbowtext11{
    0%{
        color: rgb(255, 0, 0);
        font-size: 20px;
    }
    25%{
        color:rgb(70, 104, 255);
    }
    50%{
        color: rgb(255, 38, 0);
        font-size: 20px;
    }
    75%{
        color:rgb(0, 0, 0);
        font-size: 20px;
    }
    100%{
        color: rgb(251, 255, 0);
        font-size: 20px;
    }
}

.cd-animation3{   
    animation-name: rainbowtext13;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite; 
}
@keyframes rainbowtext13{
    0%{
        color: rgb(255, 0, 0);
        font-size: 20px;
    }
    25%{
        color:rgb(70, 104, 255);
    }
    50%{
        color: tomato;
        font-size: 20px;
    }
    75%{
        color:rgb(21, 255, 0);
        font-size: 20px;
    }
    100%{
        color: rgb(251, 255, 0);
        font-size: 20px;
    }
}
.cd-animation4{   
    animation-name: rainbowtext15;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite; 
}
@keyframes rainbowtext15{
    0%{
        color: rgb(255, 0, 0);
        font-size: 20px;
    }
    25%{
        color:rgb(70, 104, 255);
    }
    50%{
        color: tomato;
        font-size: 20px;
    }
    75%{
        color:rgb(0, 255, 0);
        font-size: 20px;
    }
    100%{
        color: orange;
        font-size: 20px;
    }
}

 /**latest work**/
 .latest-color h3{
     color: dimgray;
     background-color: gold;
     width: max-content;
     text-align: center;
 }
 .latest-color img{
     width:100%;
     border: gold 2px solid;
 }
.link-btn {
    background-image: linear-gradient(yellow,rgb(255, 208, 0));
    border-radius: 10px;
    padding:10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 5px gray;
}
.link-btn{ 
    animation-name: rainbowtext5;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite; 
}
@keyframes rainbowtext5{
    0%{
        color: rgb(0, 255, 0);
        font-size: 20px;
    }
    25%{
        color:rgb(255, 9, 255);
    }
    50%{
        color: orange;
        font-size: 20px;
    }
    75%{
        color:greenyellow;
        font-size: 25px;
    }
    100%{
        color: rgb(251, 255, 0);
        font-size: 20px;
    }
} 
.latest-head img{
    width: 100%;
    margin-top:100px;
    margin-bottom: 20px; 
}
.latest-bg{
    margin-bottom: 100px;
}
.web-head h1{
    margin-bottom: 30px;
    border-bottom: orange solid 2px;
    width: 200px;
}

/** portfilio section**/
.port-head img{
    width: 100%;
}
.port-img img{
    width: 100%;
    margin-top: 100px;
    border: gold 2px solid;
    box-shadow: 0px 0px 50px rgb(134, 134, 134);
}


/** contact section**/
.contact-h3{
    margin-top: 100px;
    padding-top:50px;
    text-align: center;
}
.contact-hed{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

h1.header {
    color: white;
}
.contact-hed{
    animation-name: rainbowtext6;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes rainbowtext6{
    0%{
        color: red;
        font-size: 30px;
    }
    25%{
        color:rgb(255, 0, 255);
    }
    50%{
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
    75%{
        color:rgb(0, 89, 255);
        font-size: 30px;
    }
    100%{
        color: orange;
        font-size: 32px;
    }
}
.link-color{
    color: dimgray;
    font-weight: 900;
    padding-bottom: 50px;
    
}
.contact-bg{
    background-color:rgb(231, 231, 231);
    text-align: center;
    border-radius: 10px;
}
.l1, .l2, .l3, .l4{
    padding-bottom: 10px;
}

/** footer **/
.foot{
    text-align: center;
    font-size: x-small;
}

